
body {
    font-family: Arial;
    font-size: 15px;
    width: 600px;
    
    
}

h1, h2 {
text-align: left
}

.main {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 700px;
    min-height:700px;
    text-align: justify;
}
.main p {
    height: 150px;
}
.graph {
    height: 200px;
    width: 700px;
    margin:0px, 1000px, 1000px, 0px;
    border: 1px solid #000;
    display: flex;
    margin-bottom: 0px;
    overflow: hidden
}
.graph span {
    align-self: flex-end;
    text-align: center;
}